main {
  min-height: calc(100vh - 116px);
  display: flex;
  align-items: center;
  justify-content: center;
  &.topContent {
    align-items: flex-start;
    justify-content: flex-start;
  }
  &.topCenterContent {
    align-items: flex-start;
    justify-content: center;
  }
  .spinner {
    margin: 20px;
    align-self: center;
  }
}

