@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}
main {
  min-height: calc(100vh - 116px);
  display: flex;
  align-items: center;
  justify-content: center;
  &.topContent {
    align-items: flex-start;
    justify-content: flex-start;
  }
  &.topCenterContent {
    align-items: flex-start;
    justify-content: center;
  }
  .spinner {
    position: absolute;
    top: 50%;
  }
  h2 {
    font-weight: 700 !important;
    font-size: 30px !important;
  }
}
header {
  h1 {
    font-size: 25px !important;
  }
}